.main{
    width: 100%;
    padding: 50px;
}

.grid{
    display:grid;
    grid-template-columns: 50% 50%;
    gap: 50px;
}
.items{
    padding-right: 30px;
    display:flex;
    background-color: rgb(199, 199, 103);
    margin-right:10px;
}
.profiles{
    width: 30vh;
    height: auto;
    padding-right: 15px
}

@media only screen and (max-width:720px){
    .grid{
        grid-template-columns: 100%;
    }
}